<div *ngIf="auth.userHasScopes(['read:config'])">
  <div *ngFor="let config of configs">
    <label>{{config.name}}</label>
    <input [(ngModel)]="config.value" placeholder="value">
    <button *ngIf="auth.userHasScopes(['update:config'])" (click)="update(config)">Update</button>
    <button *ngIf="auth.userHasScopes(['delete:config'])" (click)="delete(config)">Del</button>
  </div>
</div>
<div *ngIf="auth.userHasScopes(['create:config'])">
  <input placeholder="config name" #configName />
  <input placeholder="value" #configValue />
  <button (click)="add(configName.value, configValue.value); configName.value=''; configValue.value=''">
    Add
  </button>
</div>
