auth0-python==3.1.2
beautifulsoup4==4.6.0
boxsdk==1.5.4
bs4==0.0.1
certifi==2023.7.22
chardet==3.0.4
click==6.7
Flask==2.2.5
gunicorn==19.6.0
idna==2.5
invoke==0.20.4
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
python-dotenv==0.6.5
redis==2.10.6
requests==2.18.3
requests-toolbelt==0.8.0
six==1.10.0
urllib3==1.26.5
Werkzeug==0.12.2
